@font-face {
     font-family: "Lora";
     src: url(fonts/lora/Lora-Variable.ttf) format('truetype');
}

@font-face {
     font-family: "LoraItalic";
     src: url(fonts/lora/Lora-VariableItalic.ttf) format('truetype');
}

body{
     background-color: #fdf6e3;
}

.heading {
     font-family: "Lora", serif;
     font-weight: 600;
     font-size: 40pt;
     color: #990000;
     margin: 0.6em 0.8em;
}

.lora {
     font-family: "Lora", serif;
     color: #000000
}

.four {
     font-weight: 400;
} 

.five {
     font-weight: 500;
} 

.six {
     font-weight: 600;
} 

.seven {
     font-weight: 700;
} 