@font-face {
     font-family: "Lora";
     src: url(fonts/lora/Lora-Variable.ttf) format('truetype');
}

@font-face {
     font-family: "LoraItalic";
     src: url(fonts/lora/Lora-VariableItalic.ttf) format('truetype');
}

body{
     background-color: #fdf6e3;
}

.heading {
     font-family: "Lora", serif;
     font-weight: 700;
     color: #990000
}